/*### EXPLORE PAGE ###*/

.explore-events {
    padding: 3rem 1rem;
}

.explore-events h2 {
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.events-grid{
    display: grid;
    gap: 3rem;
}

.event-card{
    display: flex;
    flex-direction: column;
    background-color: #15173D;
    color: #ffffff;
    border-radius: 20px;
    padding: 1rem 0;
}

.event-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    padding: 1rem;
}

.event-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-body h4{
    padding: 0 1rem;
}

.event-meta{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}

.meta-item{
    display: flex;
    align-items: center;
}

.meta-item p {
    margin: 0;
}


.event-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF6B6B;
    font-weight: bold;
}

.event-date .month {
    font-size: 2rem;
    text-transform: uppercase;
}

.event-date .day {
    font-size: 2rem;
    line-height: 1;
}

.event-date .weekday {
    font-size: 2rem;
}

/*Explore cta*/
.explore-cta {
    background-color: #4B88A2;
    color: white;
    padding: 2rem 2.5rem;
    margin-bottom: 3rem;
}

.explore-cta h2{
    font-size: 1rem;
}

.explore-cta img {
    border-radius: 80px 0 80px 0;
}

/*explore benefits*/

.explore-benefits{
    background-image: url("../assets/images/explore/explore-decorative-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    color: #ffffff;
    padding: 0 1rem;
    margin: 0;
}

.explore-benefits h2{
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.explore-benefits ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

